.chat-body,
.chat-wrapper,
.chat-header{
    background-color: #99BBD4;
}

.chat-wrapper{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.chat-body {
    padding: 0;
    padding-top: 100px;
    min-height: 1000vh;
}



/* incomming message */
.chat{
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chat__messages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.chats__timestamp{
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #778ca3;
    border-radius: 20px;
    margin-bottom: 20px;
}

@keyframes incomming {
    from{
        transform: translateX(-300px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.incoming-message{
    display: flex;
    align-self: flex-start;
    animation: incomming 0.5s ease-in forwards;
}

.message__content{
    display: flex;
    flex-direction: column;
}
.message__bubble{
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;

}
.bubble__content{
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    
}
.incoming-message .bubble__content{
    border-top-left-radius: 0px;
    background-color: white;
}
.sending-message .bubble__content{
    border-top-right-radius: 0px;
    background-color: #fae100;
}

.bubble__timestamp{
    font-size: 10px;
    color: rgb(87, 85, 85);
    align-self: flex-end;
    margin-left: 3px;
}
.sending-message .message__bubble{
    flex-direction: row-reverse;
}
.message__author{
    font-size: 12px;
    color: rgb(87, 85, 85);
}


@keyframes sending {
    from{
        transform: translateX(300px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.sending-message{
    display: flex;
    align-self: flex-end;
    animation:  sending 0.5s ease-out forwards;
}

.message__img,.message__img img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}


/* chat write */


.chat__write,
.write__bubble{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    width: 100%;
}
.chat__write{
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: white;
    padding-bottom: 10px;
}
.write__icons svg{
    width: 18px;
    height: 18px;
}

.write__bubble{
    height: 30px;
    background-color: #f7f7f7;
    border-radius: 20px;
}

.write__icons{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.write__bubble input{
   width: 100%;
   margin-right: 10px;
   background-color: #f7f7f7;
   outline: none;
   border: none;
}
.write__icon-right{
    margin-right: 15px;
}
.write__icon-left{
    margin-left: 10px;
}
