.chat-wrapper{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.chat-body {
    padding: 0;
    padding-top: 100px;
    min-height: 1000vh;
}


/* chat user */
.sender__pic{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 186, 248);
    border-radius: 15px;
    margin-right: 7px;
}

/* incomming message */
.chat{
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chat__messages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.chats__timestamp{
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #dad8d8;
    border-radius: 20px;
    margin-bottom: 20px;
}
.incoming-message{
    display: flex;
    align-self: flex-start;
}

.message__content{
    display: flex;
    flex-direction: column;
}
.message__bubble{
    display: flex;
    margin-top: 8px;

}
.bubble__content{
    font-size: 15px;
    padding: 5px;
    background-color: skyblue;
    border-radius: 20px;
}
.bubble__timestamp{
    font-size: 10px;
    color: rgb(87, 85, 85);
    position: relative;
    top: 13px;
    margin-left: 3px;
    margin-right: 3px;
}
.message__author{
    font-size: 14px;
    color: rgb(87, 85, 85);
}

.sending-message{
    display: flex;
    align-self: flex-end;
}

/* chat write */


.chat__write,
.write__bubble{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    width: 100%;
}
.chat__write{
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: white;


}
.write__icons svg{
    width: 18px;
    height: 18px;
}

.write__bubble{
    height: 30px;
    background-color: #f7f7f7;
    border-radius: 20px;

}

.write__icons{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.write__bubble input{
   width: 100%;
   margin-right: 10px;
   background-color: #f7f7f7;
   outline: none;
   border: none;
}
.write__icon-right{
    margin-right: 15px;
}
.write__icon-left{
    margin-left: 10px;
}