.new-emoji__list,
.new-emoji__column,
.channel__column,
.find-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-emoji__slider,
.emoji,
.save-search__text,
.channel__icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header */
.find-header{
    width: 100%;
    height: 40px;
}

.find-header__cancel{
    display: inline-block;
    height: 40px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
}

.find-header__container input{
    border: none;
    outline: none;
    background-color:#f7f7f7;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 35px;
    display: flex;
    align-items: center;
}
.find-header__container{
    width: 100%;
}
.find-header__search-icon i {
    position: relative;
    top: 28px;
    left: 10px;
    font-size: 12px;
}
.find-header__qr-code i{
    font-size: 20px;
    position: relative;
    float: right;
    right: 15px;
    top: -28px;

}

/* emoji */
.new-emoji{
    margin-top: 30px;
}

.new-emoji__column{
    font-size: 11px;
    opacity: 0.6;
}
.new-emoji__section{
    margin-top: 10px;
}
.emoji{
    width: 110px;
    height: 150px;
    background-color: #f7f7f7;
}
.new-emoji__slider{
    margin-top: 10px;
}
.emoji-circle{
    background-color: #f7f7f7;
    width: 5px;
    height: 5px;
    border-radius: 10px;
}
.emoji-circle:nth-child(1){
    margin-right: 3px;
    background-color: rgb(180, 179, 179);
}

/* save search */
.save-search{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;;
}
.save-search__text{
    margin-top: 35px;
    opacity: 0.7;
}

.save-search__option{
    margin-top: 20px;
    opacity: 0.7;
    float: right;
    font-size: 12px;
}

/* trending channel */

.trending-channel {
    margin-top: 20px;
}

.channel__update {
    position: relative;
    font-size: 11px;
    opacity: 0.6;
    float: right;
    top: -13px;
}
.trending-channel__header{
    margin-top: 5px;
    font-size: 11px;
    opacity: 0.8;
}
.channel__list{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.channel{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.channel__num{
    margin-right: 10px;
    color: tomato;
}

.channel__icon {
    font-size: 25px;
    margin-right: 10px;
    width: 70px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #f7f7f7;
}

.channel__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.channel__subscribers{
    font-size: 10px;
    margin-top: 3px;
    color: #999898;
}
.channel__subscribers i {
    color: rgb(247, 60, 27);
    opacity: 1;
}

.channel__add{
    width: 75px;
    height: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-size: 11px;
    padding-top: 3px;
    padding-left: 3px;
    font-weight: bold;
    position: relative;
}
.channel__column{
    width: 100%;
}
.view-more{
    font-size: 10px;
    float: right;
    margin-top: 20px;
    color: #999898;
}
.javascript i{
    color: rgb(235, 235, 52);
}
.node i{
    color: rgb(161, 236, 48);
}
.react i{
    color: skyblue;
}
.angular i{
    color: rgb(185, 23, 23);
}