
/* header */

.find-header{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.find__cancel{
    display: inline-block;
    height: 40px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
}

.find-container input{
    border: none;
    outline: none;
    background-color:#f7f7f7;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 35px;
    display: flex;
    align-items: center;
}
.find-container{
    width: 100%;
}
.search__icon i {
    position: relative;
    top: 28px;
    left: 10px;
    font-size: 12px;
}
.find-qrcode i{
    font-size: 20px;
    position: relative;
    float: right;
    right: 15px;
    top: -28px;

}
.find-minus{
    font-size: 20px;
    position: relative;
    float: right;
    top: -30px;
    right: -7px;
}

/* emoji */

.new-emoji{
    margin-top: 30px;
}

.new-emoji__column{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    opacity: 0.6;
}
.new-emoji__section{
    margin-top: 10px;
}
.new-emoji__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.emoji{
    width: 150px;
    height: 200px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-emoji__slider{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emoji-circle{
    background-color: #f7f7f7;
    width: 8px;
    height: 8px;
    border-radius: 10px;
}
.emoji-circle:nth-child(1){
    margin-right: 3px;
    background-color: rgb(192, 192, 192);
}

