.list__item,
.birthday__more{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons__list,
.gift-shop,
.b-friend__pic{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* user */
.user, 
.birthday{
    border-bottom: 1px solid #f1f1f1;
}

.user{
    width: 100%;
    height: 90px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.user__content{
    display: flex;
    align-items: center;
}


.b-friend__pic{
    width: 45px;
    height: 45px;
    border-radius: 17px;
}

.user__name,
.friend__name {
    font-weight: bold;
    font-size: 15px;
}

/* Friends with b-day */
.birthday__hide svg{
    width: 12px;
    height: 12px;
}

.birthday__header,
.friends__header{
    margin-top: 10px;
    font-size: 11px;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
}

.friend__name i{
    color: rgb(224, 136, 151);
}
.b-friend__pic{
    background-color: rgb(224, 136, 151);
    margin-right: 15px;
    color: white;
}

.birthday__friends,
.friends__list{
    margin-top: 15px;
}
.list__item{
    margin-bottom: 15px;
}
.friend-content{
    display: flex;
    align-items: center;
}
.friend__status,
.user__status{
    font-size: 12px;
    opacity: 0.8;
    margin-top: 5px;
}
.gift-shop{
    width: 80px;
    height: 20px;
    border: 1px solid rgb(243, 79, 79);
    border-radius: 10px;
    font-size: 11px;
    opacity: 0.8;
}

.gift-shop i{
    margin-left: 3px;
    font-size: 9px;
}

.birthday__more{
    width: 18px;
    height: 20px;
    font-size: 11px;
    opacity: 0.6;
}

.birthday__more i{
    font-size: 11px;
    opacity: 0.8;
}

/* friend */
.friend-music{
    font-size: 11px;
    opacity: 0.8;
    border: 1.4px solid #52e084;
    border-radius: 15px;
    padding: 5px 7px;
    display: flex;
    overflow: hidden;
}
.music__icon i {
    font-size: 10px;
    color: #52e084;
    
}
.music__icon{
    position: relative;
    right: -8px;
    width: 15px;
    height: 100%;
    background-color: white;
    z-index: 1;
}

@keyframes flowText{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(180px);
    }
}

.music-on{
    animation: flowText 6s linear infinite;
}
