

/* greeting */
.greet-header{
    margin-top: 90px;
}

.greet__text{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.greet__notice{
    font-size: 12px;
    width: 60%;
    opacity: 0.7;
    margin-bottom: 50px;
    text-align: center;
}

/* form */
form {
    justify-content: space-between;
    height: 110px;
}
form input{
    height: 50px;
    width: 100%;
    border: transparent;
    border-bottom: 1px solid rgb(70, 69, 69);
    outline: none;
    transition: border-color .3s ease-in-out;
}
form input:focus{
    border-color: #fae100;
}
.text{
    padding: 0 20px;
    margin-top: 10px;
    color: red;
    float: right;
    font-size: 12px;
    cursor: pointer;
}
.checkbox__container{
    margin: 35px 0;
    font-size: 13px;
    padding: 0 20px;
}
.checkbox{
    display: none;
}
.fake__checkbox i {
    color: transparent;
}
.fake__checkbox{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(175, 174, 174);
    border-radius: 3px;
    cursor: pointer;
}
.checkbox:checked ~.fake__checkbox i{
    color:red;
}

/* button */
.btn-container{
    height: 150px;
    justify-content: space-around;
}
.btn-container button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.btn-container span{
    font-size: 12px;
}

/* same style */
.btn-container,
form,
.greet-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}