.login-body{
    background-color: #fae100;
    padding: 0 20px;
}

.btn-container,
form,
.greet-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #391B1B;
}

/* greeting */
.greet-header{
    margin-top: 90px;
}

.greet__text{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.greet__notice{
    font-size: 13px;
    width: 100%;
    opacity: 0.7;
    margin-bottom: 30px;
    text-align: center;
    line-height: 20px;
}

@keyframes blinkingText {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.greet-header span{
    font-size: 13px;
    color: rgb(148, 30, 30);
    animation: blinkingText 5s linear infinite;
    margin-bottom: 20px;
}

/* form */
.login-form {
    justify-content: space-between;
    height: 100px;
}
.login-form input{
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    border: transparent;
    border:none;
    outline: none;
    padding: 0 20px;
    transition: border-color .3s ease-in-out;
    cursor: not-allowed;
}
form input:focus{
    border-color: #fae100;
}
.text{
    margin-top: 10px;
    color: rgb(194, 14, 14);
    float: right;
    font-size: 12px;
    cursor: pointer;
}
.checkbox__container{
    margin: 35px 0;
    font-size: 13px;
}
.checkbox{
    display: none;
}
.fake__checkbox i {
    color: transparent;
}
.fake__checkbox{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(175, 174, 174);
    border-radius: 3px;
    cursor: pointer;
}
.checkbox:checked ~.fake__checkbox i{
    color:red;
}

/* button */
.btn-container{
    margin-top: 20px;
    height: 80px;
    justify-content: space-around;
}
.btn-container button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.btn-container button:hover{
    background-color: #e4e3e3;
}
.btn-container span{
    font-size: 12px;
}
