.bigScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right,#fffbd5,#b20a2c);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    display: none;
    z-index: 1;
}

@media screen and (min-width: 550px){
    .bigScreen{
        display: flex;
    }
}