.nav{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #f9f9fa;
    border-top: 1px solid #f1f1f1;
    padding: 15px 20px 15px 20px;
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__list-item svg{
    width: 20px;
    height: 20px;
}

.chat-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__alert{
    background-color: tomato;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 10px;
    position: relative;
    left: -10px;
    top: -8px;
}

.nav__list-item i {
    font-size: 20px;
    color: rgb(34, 34, 34);
}

.nav__list-item{
    display: flex;
    align-items: center;
}

.friends-p-icon,.more-dot{
    background-color: rgb(34, 34, 34);
}

.nav__more-icon a{
    width: 28px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dot{
    width: 6px;
    height: 6px;
    border-radius: 10px;
    border: 2px solid rgb(34, 34, 34); 
}
