
/* status bar */
.status-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 25px 20px;
}

.status-bar__time{
    font-size: 15px;
    font-weight: bold;
}
.status-bar__icons {
    font-size: 13px;
}

.status-bar__icons i:nth-child(2){
    margin: 0 3px;
}