.status-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status-bar__time{
    font-size: 15px;
    font-weight: bold;
}
.status-bar__icons {
    font-size: 13px;
}

/* greeting */

.greet-header{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greet__text{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.greet__notice{
    font-size: 12px;
    padding: 0 50px;
    margin-bottom: 50px;
}