@import "./reset.css";


/* component */
@import "./components/status-bar.css";
@import "./components/nav.css";

/* screen */
@import "./screen/login.css";
@import "./screen/friends.css";
@import "./screen/chats.css";
@import "./screen/more.css";

*{
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    padding: 5px 20px;
}