@import "./reset.css";


/* component */
@import "./components/status-bar.css";

/* screen */
@import "./screen/login.css";



*{
    box-sizing: border-box;
}

body{
    padding: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}