@import "./reset.css";
@import "../fontello/css/user-embedded.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

/* component */
@import "./components/status-bar.css";
@import "./components/nav.css";
@import "./components/loading.css";
@import "./components/user-icon.css";
@import "./components/header.css";

/* screen */
@import "./screen/login.css";
@import "./screen/friends.css";
@import "./screen/chats.css";
@import "./screen/more.css";
@import "./screen/hash.css";
@import "./screen/setting.css";
@import "./screen/find.css";
@import "./screen/chat.css";
@import "./screen/mobile.css";

*{
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    padding: 5px 20px;
}

body{
    font-family: "fontello";
    font-family: 'Nunito', sans-serif;
}


@keyframes showUp{
    from{
        transform: translateY(80px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}

main{
    animation: showUp 0.5s linear forwards;
}